<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주문내역조회</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="adminOrders.css">
  <link rel="stylesheet" href="/components/Admin/Header/style.css">
  <script src="/components/Admin/Header/Header.js" type="module"></script>
  <script src="adminOrders.js" type="module"></script>

</head>

<body>
  <div id="app">
    <main>
      <section class="main-header">
        <div>주문 내역 조회</div>
        <small>Orders Management</small>
        <hr>
      </section>
      <!-- 옵션 그룹 -->
      <!-- <section class="list-option-wrap">
        <div class="option-wrap-left">
          <input type="text" placeholder="입력">
          <select name="searchOption" id="searchOption">
            <option value="email">email</option>
            <option value="isAdmin">isAdmin</option>
            <option value="username">username</option>
            <option value="address">address</option>
            <option value="phone">phone</option>
          </select>
          <button>검색</button>
        </div>
        <select name="searchOption" id="searchOption">
          <option value="100">100개</option>
          <option value="50">50개</option>
          <option value="30">30개</option>
          <option value="10">10개</option>
        </select>
      </section> -->

      <!-- 메인 -->
      <section class="order-list">
        <!-- 
        <div>
          <div class="order-date">2023-07-02</div>
          <div class="order-component">
            <a href="/admin/orders">
              <img src="/asset/products/Rectangle 62.png" alt="">     
            </a>
            <div class="product-content">
              <div class="productId">상품ID : </div>
              <div class="product-name">상품명 : </div>
              <div class="orderer">주문자 : </div>
              <div class="price">가격 : </div>
            </div>
            <div class="total-price">총 가격: 997,200₩</div>
          </div>
        </div>

        <div>
          <div class="order-date">2023-07-02</div>
          <div class="order-component">
            <a href="/products/:productId">
              <img src="/asset/products/Rectangle 62.png" alt="">
            </a>
            <div class="product-orderer">
              <div class="productId">상품ID : </div>
              <div class="product-name">상품명 : </div>
              <div class="orderer">주문자 : </div>
              <div class="price">가격 : </div>
            </div>
            <div class="total-price">총 가격: 997,200₩</div>
          </div>
        </div> -->

      </section>
    </main>
</body>
</html>