a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  height: auto;
}

.cart-container {
  display: flex;
  margin: 100px auto;

  flex-direction: column;
  width: 60%;
}
.cart-title {
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 13px;
  border-bottom: 2px solid #393939;
}

.cart-wrap {
  width: 100%;
  margin-bottom: 30px;
}

/* 선택 삭제 버튼 */
.selectdelete-btn {
  margin-top: 9px;
  margin-left: 10px;
  padding-top: 2px;
  font-size: 16px;
  border-radius: 2px;

  color: #343434;
  border: 1px solid #080808;
  background-color: #fff;
  cursor: pointer;
}

.item {
  width: 100%;
  height: 200px;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  border-bottom: 2px solid #c4c4c4;
}

.cart-img {
  margin: 25px 30px 25px 30px;
  position: relative;
  width: 150px;
  height: 150px;
}

.cart-img > img {
  width: 100%;
  display: flex;
}

.cart-info {
  width: 60%;
  flex-direction: column;
  text-align: left;
  margin-top: 35px;
  font-size: 20px;
  line-height: 32px;
  position: relative;

  display: flex;
}

.num {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  font-size: 17px;
}

.result-count {
  display: flex;

  font-size: 20px;

  gap: 10px;
}

.minus {
  all: unset;
  cursor: pointer;
  margin-right: 20px;
}
.plus {
  all: unset;
  cursor: pointer;
  margin-left: 20px;
}
#result {
  width: 25px;
  text-align: center;
}

.pay-info {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
  align-items: end;
}

.pay-detail {
  background-color: #2f2f2f;
  color: #fff;
  padding: 7px;
  width: 100%;
}

.pay-total {
  padding: 7px;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 250px;
}

.pay-do {
  all: unset;
  background: #313131;
  width: 250px;
  color: #fff;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}
