body {
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  margin: 0 auto;
}

.form-group {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.form-group label {
  flex-basis: 100px;
  font-weight: bold;
  margin-right: 30px;
  text-align: right;
}

.form-group input {
  flex-grow: 1;
  padding: 5px;
  font-size: 16px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  background-color: #464646;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
