<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/components/Header/style.css" />
    <link rel="stylesheet" href="/components/Footer/style.css" />
    <link rel="stylesheet" href="userModify.css" />
  </head>
  <body>
    <div class="container">
      <h2 calss="user-info-title">회원 정보 관리</h2>
      <form id="update-form">
        <div class="form-group">
          <label for="id">아이디 </label>
          <input type="text" id="id" value="elice123@elice.io" disabled />
        </div>
        <div class="form-group">
          <label for="name">이름 </label>
          <input type="text" id="name" value="이수민" />
        </div>
        <div class="form-group">
          <label for="contact">연락처 </label>
          <input type="text" id="contact" value="010-1234-5678" />
        </div>
        <div class="form-group">
          <label for="address">주소 </label>
          <input type="text" id="address" value="서울시 광진구" />
          <button type="button" id="address-button">주소 찾기</button>
        </div>
        <div class="form-group">
          <label for="detail-address">상세 주소 </label>
          <input type="text" id="detail-address" value="" />
        </div>
        <div class="btn-container">
          <button type="submit" class="btn">회원정보 변경</button>
        </div>
      </form>
    </div>
    <script src="/components/Header/Header.js" type="module"></script>
    <script src="/components/Footer/Footer.js" type="module"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    //
    <script src="./userModify.js"></script>
  </body>
</html>
