<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/components/Admin/Header/style.css">
  <link rel="stylesheet" href="./style.css">
  <title>ELICE ADMIN</title>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer></script>
  <script src="/components/Admin/Header/Header.js" type="module"></script>
  <script src="./getUser.js" type="module"></script>
  <script src="./getAddress.js" type="module"></script>
  <script src="./validate.js" type="module"></script>

</head>

<body>
  <div id="app">

    <main>
      <!-- main header -->
      <section class="main-header">
        <div>유저 상세 정보</div>
        <small>User detail</small>
        <hr>
      </section>

      <!-- 유저 상세 정보 -->
      <section class="user-detail">
        <h2>개인 정보</h2>

        <!-- username -->
        <div id="username-form" class="input-box">
          <label for="username">사용자 명 <span>username</span></label>
          <input type="text" id="username" name="username" placeholder="홍길동" autocomplete="off">
          <small></small>
        </div>

        <div class="input-wrap1">
          <!-- e-mail -->
          <div id="e-mail-form" class="input-box">
            <label for="e-mail">이메일 <span>e-mail</span></label>
            <input type="text" id="e-mail" name="e-mail" placeholder="example@example.com" autocomplete="off">
            <small></small>
          </div>

          <!-- phone-number -->
          <div id="phone-number-form" class="input-box">
            <label for="phone-number">전화번호 <span>phone-number(?)</span></label>
            <input type="text" id="phone-number" name="phone-number" placeholder="-없이 입력" autocomplete="off">
            <small></small>
          </div>
        </div>


        <div class="input-wrap2">
          <!-- password -->
          <div id="password-form" class="input-box">
            <label for="password">비밀번호 <span>password</span></label>
            <input type="password" id="password" name="password" placeholder="password를 입력" autocomplete="off">
            <small></small>
          </div>

          <!-- pw-validate -->
          <div id="pw-validate-form" class="input-box">
            <label for="pw-validate">비밀번호 확인 <span>pw-validate</span></label>
            <input type="password" id="pw-validate" name="pw-validate" placeholder="password를 재입력" autocomplete="off" readonly>
            <small></small>
          </div>

        </div>

        <!-- isAdmin -->
        <div class="input-box">
          <label for="isAdmin">권한 <span>isAdmin</span></label>
          <select type="text" id="isAdmin" name="isAdmin">
            <option value="true">true</option>
            <option value="false">false</option>
          </select>
        </div>

        <!-- address -->
        <div class="input-box input-address">
          <label for="address">주소 <span>address(?)</span></label>
          <div>
            <input type="text" id="postalCode" name="postalCode" readonly>
            <button id="address-search">주소검색</button>
          </div>
          <input type="text"  id="address1" name="address1"readonly>
          <input type="text"  id="address2" name="address2" placeholder="상세 주소를 입력하세요" autocomplete="off">
          <small></small>
        </div>

        <!-- btn -->
        <div class="btn-gr">
          <button>초기화</button>
          <button>저장</button>
          <button>삭제</button>
        </div>
      </section>

      <hr>

      <!-- 유저 주문 내역 -->
    </main>

  </div>
</body>

</html>