<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/components/Admin/Header/style.css">
  <link rel="stylesheet" href="./style.css">
  <title>ELICE ADMIN</title>
  <script src="/components/Admin/Header/Header.js" type="module"></script>
</head>

<body>
  <div id="app">

    <main>
      <!-- main header -->
      <section class="main-header">
        <div>유저 상세 정보</div>
        <small>User detail</small>
        <hr>
      </section>

      <!-- 유저 상세 정보 -->
      <section>
        <h2>개인 정보</h2>

        <!-- username -->
        <div class="input-box">
          <label for="">사용자 명 <span>username</span></label>
          <input type="text" id="username" name="username" placeholder="이름을 입력하세요">
        </div>

        <!-- e-mail -->
        <div class="input-box">
          <label for="">이메일 <span>e-mail</span></label>
          <input type="text" id="e-mail" name="e-mail" placeholder="이메일을 입력하세요">
        </div>

        <!-- phone-number -->
        <div class="input-box">
          <label for="">전화번호 <span>phone-number</span></label>
          <input type="text" id="phone-number" name="phone-number" placeholder="전화번호를 입력하세요">
        </div>

        <!-- password -->
        <div class="input-box">
          <label for="">비밀번호 <span>password</span></label>
          <input type="text" id="password" name="password" placeholder="password를 입력하세요">
        </div>

        <!-- pw-validate -->
        <div class="input-box">
          <label for="">비밀번호 확인 <span>pw-validate</span></label>
          <input type="text" id="pw-validate" name="pw-validate" placeholder="password를 재입력하세요">
        </div>

        <!-- isAdmin -->
        <div class="input-box">
          <label for="">권한 <span>isAdmin</span></label>
          <select type="text" id="isAdmin" name="isAdmin">
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>

        <!-- address -->
        <div class="input-box input-address">
          <label for="">주소 <span>address</span></label>
          <input type="text" id="pw-validate" name="pw-validate" placeholder="password를 재입력하세요">
        </div>
      </section>

      <hr>

      <!-- 유저 주문 내역 -->
    </main>

  </div>
</body>

</html>