@import url("https://fonts.googleapis.com/css2?family=Alice&family=Nanum+Gothic:wght@400;700;800&display=fallback");

main {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 35px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main hr{
  margin: 30px 0;
}

main > :not(.main-header){
  max-width: 1280px;
  width: 100%;
}

.main-header {
  width: 100%;
  font-size: 32px;
}
.main-header small {
  color: #999999;
  font-size: smaller;
}