<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/components/Header/style.css">
  <link rel="stylesheet" href="/components/Footer/style.css">
  <title>Document</title>
</head>
<body>
  <div id="content">login page</div>
  <script src="/components/Header/Header.js" type="module"></script>
  <script src="/components/Footer/Footer.js" type="module"></script>
</body>
</html>