#logcontent {
  padding: 135px 0;
}

.login-wrapper {
  position: relative;
  width: 900px;
  height: 600px;
  margin-top: 100px;
  margin: 0 auto;
  border: 1px solid;
  border-image: linear-gradient(to bottom, #bc5a00, #fff) 1;
  text-align: center;
}

.login-wrapper h2 {
  font-size: 32px;
  padding: 20px;
  margin: 30px 30px 100px;
}

.uput li {
  height: 72px;
}

.loginbox {
  position: absolute;
  left: 16%;
}

/* 아이디 비밀번호 입력창 */
.uput input {
  width: 430px;
  height: 40px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  font-size: 1rem;
  color: #999999;
  padding-left: 10px;
}

/* 아이디 메시지창 */
.login-msg {
  position: relative;
  /* display: block; */
  display: none;

  text-align: justify;
  font-size: 10px;
  color: #e55;
  line-height: 20px;
}

.loginbtn {
  position: absolute;
  top: 8px;
  left: 105%;
}

/* 서브밋 버튼 */
#sbtn {
  width: 150px;
  height: 100px;
  background-color: #080808;
  color: white;
  font-size: 20px;

  border: 1px solid #080808;
  border-radius: 4px;
}

/* 기타 링크 박스*/
.addbox {
  position: relative;
  top: 25%;
}

.addbox > li {
  display: inline-block;
  margin-right: 45px;
}

.addbox > li > a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

/* sns로그인 */
.sns-login {
  position: relative;
  top: 190px;
}

.sns-login a img {
  width: 235px;
  height: 45px;
}
