<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ELICE</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/components/Header/style.css">
  <link rel="stylesheet" href="/components/Footer/style.css">
  <link rel="stylesheet" href="/css/main.css">

</head>

<body>
  <main>
    <section class="jumbotron-wrap">
      
      <article><a href="#viva_majenta"></a></article>
      <article><a href="#veri_peri"></a></article>
      <article><a href="#jomalone"></a></article>
      <article><a href="#alice"></a></article>
      <article><a href="#classic"></a></article>


      <div>
        <img src="" alt="">
      </div>
      <!-- left btn -->
      <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="left-btn">
        <path d="M6 11L1 6L6 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <!-- right btn -->
      <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="right-btn">
        <path d="M1 1L6 6L1 11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

      <div class="jumbo-idx-wrap">
        <div class="jumbo-idx"></div>
        <div class="jumbo-idx"></div>
        <div class="jumbo-idx"></div>
        <div class="jumbo-idx"></div>
        <div class="jumbo-idx"></div>
      </div>
      
    </section>
  </main>
  <script src="/components/Header/Header.js" type="module"></script>
  <script src="/components/Footer/Footer.js" type="module"></script>
  <script src="./slide.js"></script>

</body>

</html>