<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ELICE</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/components/Header/style.css">
  <link rel="stylesheet" href="/components/Footer/style.css">
  <link rel="stylesheet" href="/css/main.css">

</head>

<body>
  <main>
    <section class="jumbotron-wrap">
      <article></article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
    </section>
  </main>
  <script src="/components/Header/Header.js" type="module"></script>
  <script src="/components/Footer/Footer.js" type="module"></script>
</body>

</html>