main {
  width: 100%;
  height: auto;
}

.jumbotron-wrap {
  width: 1280px;
  max-width: 100%;
  aspect-ratio: 2.2;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.jumbotron-wrap > article {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition: left.3s ease-in-out;
  background-color: black;
}

.jumbotron-wrap > article > a {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.jumbotron-wrap > article:nth-child(1) > a {
  background-image: url(/asset/jumbotron/viva_magenta_swipe.png);
}

.jumbotron-wrap > article:nth-child(2) > a {
  background-image: url(/asset/jumbotron/veri_peri_swipe.png);
}

.jumbotron-wrap > article:nth-child(3) > a {
  background-image: url(/asset/jumbotron/jomalone_Collection.png);
}

.jumbotron-wrap > article:nth-child(4) > a {
  background-image: url(/asset/jumbotron/alice_Collection.png);
}

.jumbotron-wrap > article:nth-child(5) > a {
  background-image: url(/asset/jumbotron/classic_Collection.png);
}

.left-btn {
  width: 36px;
  height: 72px;
  position: absolute;
  top: 50%;
  left: 40px;
  filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.left-btn path {
  stroke: white;
  stroke-width: 1;
  transition: stroke.25s ease-in-out;
}

.left-btn:hover path {
  stroke: #ccc;
}

.right-btn {
  width: 36px;
  height: 72px;
  position: absolute;
  top: 50%;
  right: 40px;
  filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.right-btn path {
  stroke: white;
  stroke-width: 1;
  transition: stroke.25s ease-in-out;
}

.right-btn:hover path {
  stroke: #ccc;
}

.jumbotron-wrap > article:nth-child(1) {
  left: 0;
}

.jumbotron-wrap > article:nth-child(2) {
  left: 100%;
}

.jumbotron-wrap > article:nth-child(3) {
  left: 200%;
}

.jumbotron-wrap > article:nth-child(4) {
  left: 300%;
}

.jumbotron-wrap > article:nth-child(5) {
  left: 400%;
}

.jumbo-idx-wrap {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  display: flex;
}

.jumbo-idx {
  width: 50px;
  height: 8px;
  background-color: #d0d0d0;
  margin: 0 5px;
  border-radius: 2px;
  cursor: pointer;
}

.jumbo-playBtn {
  position: absolute;
  bottom: 31px;
  left: calc(50% + 190px);
  transform: translateX(-50%);
  cursor: pointer;
}
