<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문 상세 내역</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/components/Header/style.css" />
    <link rel="stylesheet" href="/components/Footer/style.css" />
    <link rel="stylesheet" href="orderDetail.css" />
  </head>
  <body>
    <div class="order-detail-page">
      <section class="order-status">
        <div>
          <img src="/asset/icon/checklist.svg" alt="주문완료" class="order-status-img" />
          <p>주문완료</p>
        </div>
        <img src="/asset/icon/chevron-right.svg" class="chevron-img" />
        <div>
          <img src="/asset/icon/bag.gray.svg" alt="상품준비중" class="order-status-img" />
          <p>상품준비중</p>
        </div>
        <img src="/asset/icon/chevron-right.svg" class="chevron-img" />
        <div>
          <img
            src="/asset/icon/truck.30px.svg"
            alt="배송중"
            class="order-status-img"
            style="width: 45px; height: 50px"
          />
          <p>배송중</p>
        </div>
        <img src="/asset/icon/chevron-right.svg" class="chevron-img" />
        <div>
          <img
            src="/asset/icon/gift.svg"
            alt="배송완료"
            class="order-status-img"
            style="width: 35px; height: 35px"
          />
          <p style="line-height: 45px; padding-top: 5px">배송완료</p>
        </div>
      </section>
      <section class="order-info">
        <h2>주문상세내역</h2>
        <div>
          <div>
            <span id="order-date"></span>
            <span id="order-id"></span>
          </div>
          <div id="order-status-text"></div>
        </div>
      </section>
      <!--주문상품리스트-->
      <section class="order-product">
        <h2 class="product-list-title">주문상품</h2>
        <ul id="product-list"></ul>
      </section>

      <div class="payment">
        <span id="payment-amount"></span>
        <span id="payment-type"></span>
      </div>
      <section class="shipping-address address-hidden">
        <div class="address-header">
          <h2>배송지정보</h2>
          <div>
            <svg
              width="23"
              height="22"
              viewBox="0 0 25 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.55002 15.5999L9.75002 19.1999M12.75 22.1999H22.35M4.95002 15.5999L16.7814 3.35533C18.0553 2.08143 20.1207 2.08143 21.3946 3.35533C22.6685 4.62923 22.6685 6.69463 21.3946 7.96853L9.15002 19.7999L3.15002 21.5999L4.95002 15.5999Z"
                stroke="black"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <button class="address-modify-btn">수정하기</button>
          </div>
        </div>
        <table>
          <tr>
            <td>이름</td>
            <td id="name">이수민</td>
          </tr>
          <tr>
            <td>연락처</td>
            <td type="cont" id="contact"></td>
          </tr>
          <tr>
            <td>주소</td>
            <td id="address"></td>
          </tr>
          <tr>
            <td>요청사항</td>
            <td id="requirement"></td>
          </tr>
        </table>
        <div class="cancel-button">
          <button type="button" class="order-cancel-btn">주문취소</button>
        </div>
      </section>
    </div>
    <div class="modal hidden">
      <div class="background"></div>
      <div class="modal-box">
        <p>
          ((주문명))
          <br />
          정말 주문을 취소하시겠어요?
        </p>
        <div class="modal-btn">
          <button class="close-btn">돌아가기</button>
          <button class="delete-confirm-btn">주문취소하기</button>
        </div>
      </div>
    </div>
    <script src="/components/Header/Header.js" type="module"></script>
    <script src="/components/Footer/Footer.js" type="module"></script>
    <script src="./orderDetail.js" type="module"></script>
  </body>
</html>
