<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/asset/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="./style.css">
  <title>ELICE ADMIN</title>
</head>
<body>
  <header>
    ELICE
  </header>
  <main>
    <section>
      <div class="input-wrap">
        <input type="text" placeholder="아이디" required>
        <input type="text" placeholder="비밀번호" required>
      </div>
      <button>로그인</button>
    </section>
  </main>
</body>
</html>