@import url('https://fonts.googleapis.com/css2?family=Alice&family=Nanum+Gothic:wght@400;700;800&display=swap');

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #282828;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 152px;
  font-size: 63px;
  text-align: center;
  line-height: 152px;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  width: 100%;
  height: calc(100% - 152px);
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 900px;
  height: 400px;
  box-sizing: border-box;
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%);
  border-image-slice: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 100px;
  margin-right: 20px;
}
.input-wrap input{
  width: 430px;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: 'Alice', 'Nanum Gothic', serif;
}

section > button {
  background-color: #465acb;
  border-radius: 5px;
  width: 150px;
  height: 100px;
  border: none;
  font-size: 20px;
  color: white;
  font-family: 'Alice', 'Nanum Gothic', serif;
  cursor: pointer;
}