footer {
  width: 100%;
  background-color: #fafaff;
  padding: 75px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-wrap {
  width: 90%;
  max-width: 1280px;
  border-bottom: 1px solid #fafaff;
}

.footer-detail-wrap {
  text-align: center;
}
.company-name {
  color: 0;
  font-size: 14px;
}
.footer-detail-wrap .list {
  color: #6c6c6c;
  font-size: 14px;
  margin-top: 14px;
  display: block;
}
.footer-detail-wrap a {
  margin-top: 14px;
  display: inline-block;
}
