footer{
  width: 100%;
  height: 500px;
  background-color: #fafaff;
  position: relative;
  display: flex;
  justify-content: center;
}
.foooter-wrap{
  width: 1280px;
  height: calc(100% - 40px);
  margin-top: 40px;
}