@import url("https://fonts.googleapis.com/css2?family=Alice&family=Nanum+Gothic:wght@400;700;800&display=fallback");

main {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 35px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main hr{
  margin: 30px 0;
}

main > :not(.main-header){
  max-width: 1280px;
  width: 100%;
}

.main-header {
  width: 100%;
  font-size: 32px;
  font-weight: bold;
}
.main-header > div {
  margin-bottom: 10px;
}
.main-header > small {
  color: #999999;
  font-size: smaller;
  font-weight:normal;

}

.list-option-wrap{
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}
.option-wrap-left{
  display: flex;
  gap: 5px;
  justify-content: center;
}
.list-option-wrap input, .list-option-wrap select, .list-option-wrap button{
  border: 1px solid 999999;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  padding: 5px;
}
.list-option-wrap input{
  width: 250px;
  font-size: 14px;
}
.list-option-wrap select{
  width: 100px;
}
.list-option-wrap button{
  width: 50px;
  background-color: #282828;
  color: white;
}


table{
  max-width: 1280px;
  width: 100%;
  margin: 20px 0 100px 0;
  table-layout: fixed;
}
.list-title > th{
  font-size: 18px;
  /* font-weight: bold; */
  background-color: #282828;
  vertical-align: middle;
  text-align: start;
  padding: 10px 20px;
  color: white;
}
.list-title > th:nth-child(1){
  width: 10%;
  height: 50px;
}
.list-title > th:nth-child(1)::after{
  content:"String";
  font-weight:500;
  color: #999999;
  font-size: 16px;
}
.list-title > th:nth-child(2){
  width: 10%;
  height: 50px;
}
.list-title > th:nth-child(2)::after{
  content:"String";
  font-weight:500;
  color: #999999;
  font-size: 16px;
}
.list-title > th:nth-child(3){
  width: 30%;
  height: 50px;
}
.list-title > th:nth-child(3)::after{
  content:"String";
  font-weight:500;
  color: #999999;
  font-size: 16px;
}
.list-title > th:nth-child(4){
  width: 10%;
  height: 50px;
}
.list-title > th:nth-child(4)::after{
  content:"String";
  font-weight:500;
  color: #999999;
  font-size: 16px;
}
.list-title > th:nth-child(5){
  width: 10%;
  height: 50px;
  text-align: center;
}

.list-title > th:nth-child(6){
  width: 10%;
  height: 50px;
  text-align: center;
}
.list-title > th:nth-child(7){
  width: 10%;
  height: 50px;
  text-align: center;
}
.list-title > th:nth-child(8){
  width: 10%;
  height: 50px;
}
.list-empty{
  height: 30px;
  background-color: white;
}
.main-tbody .list{
  padding: 10px 20px;
}

.main-tbody tr:nth-child(even){
  background-color: #F0F0F0;
}
.main-tbody tr:nth-child(odd){
  background-color: #CCCCCC;
}
.main-tbody td{
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 16px;
  font-weight: 500;
}
.main-tbody td:nth-child(1){
  width: 10%;
  height: 30px;
}

.main-tbody td:nth-child(2){
  width: 10%;
  height: 30px;
}

.main-tbody td:nth-child(3){
  width: 30%;
  height: 30px;
}

.main-tbody td:nth-child(4){
  width: 10%;
  height: 30px;
}

.main-tbody td:nth-child(5){
  width: 10%;
  height: 30px;
  text-align: center;
}

.main-tbody td:nth-child(6) {
  width: 5%;
  height: 30px;
  text-align: center;
}
.main-tbody td:nth-child(6) img{
  padding: 5px;
  cursor: pointer;
}
.main-tbody td:nth-child(7){
  width: 10%;
  height: 30px;
  text-align: center;
}
.main-tbody td:nth-child(7) img{
  padding: 5px;
  cursor: pointer;
}


.delete-all{
  max-width: 150px !important;
  width: 150px !important;
  border: none;
  border-radius: 10px;
  background-color: #C80000;
  color: white;
  position: sticky;
  /* bottom: 60px; */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  font-family: "Alice", "Nanum Gothic", serif;
  padding: 15px 10px;
  cursor: pointer;
  /* display: none; */
  opacity: 0;
  transition: bottom.25s ease-in-out, opacity.25s ease-in-out;
}
.delete-all-visible{
  /* display: block; */
  bottom: 60px;
  opacity: 1;
}