    * {
        scroll-behavior: smooth;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    li {
        list-style: none;
    }

    input:focus {
        outline: none;
    }

    #main {
        box-sizing: border-box;
        width: 1280px;
        margin: 100px auto;
        position: relative;
    }

    

    .product {
        display: flex;
        flex-direction: row;
       
    }

    .product_info {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-right: 10px;
    }

    .product_wrap {
        display: flex;
        justify-content: space-between;
        position: relative;
        
        left: 200px;
    }

    .product_content {
        width: 48%;
        line-height: 30px;
        position: relative;
        top: 50px;
        left: 280px;
    }

   
    .product_image {
        width: 350px;
        height: 350px;
        margin: 0 5px 25px 0; 
        position: relative;
        bottom: 40px;
        
    }

    .pagepath {   
            text-align: right;
            position: relative;
            
            font-size: 15px;
            color: #494948;
            margin: 0 73px 30px 0;
            }

    .product_name {
        line-height: 1.5;
    }      
    .eng_name {
        font-size: 24px;
        position: relative;
        bottom: 10px;
    }  
    .kor_name {
        font-size: 16px;
        color: #908e8a;
       
    }
    .korname_deco {
        font-weight: bold;
        font-size: 18px; 
        position: relative;
        bottom: 5px
    }
    
    .delivery_box {
        position: relative;
        top: 10px;
    }
    
    .delivery_info {
        line-height: 30px;
        position: relative;
        top: 15px;
        left: 3px;
    }
    .delivery_pay, .arrival, .desc {
        font-weight: bold;
        font-size: 18px;
    }

    .delivery_right, .arrival_right, .desc_right {
        font-size: 17px;
        float: right;
        position: relative;
        right: 50px;
        
    }
    
    .count {
            width: 90%;
            height: 50px;
            margin: 30px 0 15px 0;
            padding: 10px 10px 40px 10px;
            
            line-height: 32px;
            color: #706e6c;
            background: #fafafa;
            border-radius: 2px;
            white-space: normal;

            position: relative;
            top: 15px;
            
    }
    .count_name{
        font-size: 18px;
        position: relative;
        top: 2px;
        left: 10px;
    }
    .count_num {
        
        height: 25px;
        display: flex;
        position: relative;
        top: 10px;
        left: 10px;
    }

   #num {
    text-align: center;
    text-decoration: none;
    width: 50px;
    border: 1px solid #868482;
    background: #fafafa;
   }

    .total {
        font-size: 22px;
        color: #868482;
        text-align: right;
        position: relative;
        bottom: 50px;
        right: 55px;
        
        
        
    }

    .final_total {
        font-size: 23px;
        text-align: right;
        position: relative;
 
        right: 55px;
    }

        




    input[type="button"] {
        text-align: center;      
        text-decoration: none;
              
        margin-top: 5px;
        font-size: 22px;
       
        cursor: pointer;
        position: relative;
        top: 25px;
        
        
        }
    
    .cart {
            display :inline-block;
            width: 285px;  
            padding: 5px 45px;
            border-radius: 2px;
            background: #fff;
            border: 1px solid #979393;
            color: #212121;
          }
    .order {
            display :inline-block;
            width: 285px;  
            padding: 5px 45px;
            border-radius: 2px;
            background: #080808;
            border: 1px solid #080808;
            color: #ededed;
            }



    .menu_list {
        text-align: center;
        margin: 300px 0 0 0;
        
        font-size: 22px;
        color: #908e8a;
        border-top: 1px solid #a4a9b0;
        padding: 60px 0 0 0;

    }

    .tab {
        margin: 60px 60px 0 60px;
        padding: 70px 100px 90px 100px;
        line-height: 20px;

        color: #757c8a;
        background: #fafafa;
        border-radius: 2px;
        white-space: normal;
    }

   
    .tab1_title1 {
        font-size: 22px;
        font-weight: bold;
        color: #34342e;
    }
    .tab1_title2 {
        font-size: 22px;
        font-weight: bold;
        color: #34342e;

        margin-top: 50px; 

        border-top: 1px solid #a4a9b0;
        padding: 55px 0 0 0;
        
        overflow: hidden;
    }

    .tab1_wrap {
        line-height: 30px;
        position: relative;
        top: 40px;
        left: 180px;
        
    }
    .tab1_content {
        font-size: 20px;
        font-weight: bold;
        color: #34342e;
    

    }

    .tab1_text {
        font-size: 20px;
        color: #34342e;
        
    }
    .tab1_text2 {
        font-size: 18px;
        color: #34342e;

        position: relative;
        bottom: 15px;
    }



    .tab2_title {
        font-size: 19px;
        font-weight: bold;
        border-bottom: 1px solid #a4a9b0;
        padding: 10px 0;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .tab2_content {
        font-size: 16px;
        line-height: 25px;
    }

    
    .tab3_title {
        font-size: 19px;
        font-weight: bold;
        border-bottom: 1px solid #a4a9b0;
        padding: 10px 0;
        margin-bottom: 20px;
    }




    .review_box {
        display: flex;
        width: 90%;
        height: 180px;
        margin: 40px 0 40px 50px;

        border-bottom: 1px solid #a4a9b0;
        padding: 10px 0;
        
        
    
    }/*  background-color: #908e8a;   */

    #reply_user {
        display: flex;
        justify-content: left;
        width: 180px;
        height: 80px;
       

        font-size: 20px;
        
    } /*   background-color: #29241a;  */


    .review_userName {
        position: relative;
        bottom: 38px;
    }

    .review_content {
        box-sizing: border-box;
        width: 660px;
        height: 175px;

        margin: 0 0 0 24px;
        
    } /* background-color: #29241a;   */

    .review_star {
       font-size: 23px;
      

    }

    .review_write {
        font-size: 20px;
        margin: 21px 0 0 20px;

    }









   .write_box {
        display: flex;
        align-items: center;
        justify-content: center;
        }

    .write_info {
        margin: 10px 50px 0 0;
        padding: 0 0 20px 0;
        line-height: 40px;
    }

        
    .write_box p {
        font-size: 22px;
        font-weight: bold;

    }

    
    textarea {
        display: flex;
        width: 660px;
        height: 140px;
        border: 1px solid #979393;
        resize: none;
        font-size: 18px;
    }

   
    textarea::placeholder {
        font-size: 18px;
      }

    #btnTxt {
            display :inline-block;
            width: 330px;
            height: 42px;
            padding: 5px 45px;
            border-radius: 2px;

            margin-top: 15px;
            font-size: 20px;

            cursor: pointer;
    }
    
    .btn_Cancel {
        background: #fff;
        border: 1px solid #979393;
        color: #212121;

        margin-right: 3px;
    }
    .btn_Add {
        background: #080808;
            border: 1px solid #080808;
            color: #ededed;
    }
    
    



    .review_star {
       position: relative;
       left: 10px;

    }

    .star {
        position: relative;
        font-size: 2rem;
        color: #ddd;
      }
      
      .star input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }
      
      .star span {
        width: 0;
        position: absolute; 
        left: 0;
        color: black;
        overflow: hidden;
        pointer-events: none;
      }
    
    



    .paging {
        width: 100%;
        font-size: 20px;
        padding: 0 0 34px 0;
        text-align: center;
        }