<link rel="shortcut icon" href="/asset/favicon/favicon.ico" type="image/x-icon">
<header>
  <div class="wrap">
    <!-- 타이틀 -->
    <h1>ELICE</h1>

    <!-- 간편 메뉴 -->
    <hr>
    <div class="icon-wrap">
      <a href="/admin/users" title="home"><img src="/asset/icon/home.svg" alt="home"></a>
      <a href="/" title="shopping mall"><img src="/asset/icon/web.svg" alt="home"></a>
      <a href="#" title="logout" id="logout"><img src="/asset/icon/logout_gray.svg" alt="home"></a>
    </div>
    <hr>

    <!-- 내비바 -->
    <nav>
      <h2>관리 메뉴</h2>
      <ul class="list">
        <a href="/admin/users">
          <li class="parent">사용자 관리</li>
        </a>
        <a href="/admin/products">
          <li class="parent">상품 관리</li>
        </a>
        <a href="/admin/orders">
          <li class="parent">주문 관리</li>
        </a>
        <a href="/admin/brands">
          <li class="parent">브랜드 & 카테고리 관리</li>
        </a>
        <!-- <a href="/admin/classify">
          <li class="parent">사이트 관리</li>
        </a> -->
      </ul>
      <!-- 모든 메뉴 보기 -->
      <!-- <a href="" class="menus">
        <img src="/asset/icon/square-4.svg" alt="menus">
        <div>모든 카테고리</div>
      </a> -->
    </nav>
  </div>
</header>
<!-- 내비 하단 바 -->
<div class="nav-footer">
  <div>v.0.0.1</div>
  <div class="header-close-btn">
    <img src="/asset/icon/left2.svg" alt="menu_flip">
  </div>
</div>