<link rel="shortcut icon" href="/asset/favicon/favicon.ico" type="image/x-icon">
<header>
  <div class="wrap">
    <h1>ELICE</h1>
    <hr>
    <div class="icon-wrap">
      <img src="/asset/icon/home.svg" alt="home">
      <img src="/asset/icon/web.svg" alt="home">
      <img src="/asset/icon/db.svg" alt="home">
      <img src="/asset/icon/logout.svg" alt="home">
      <img src="/asset/icon/setting.svg" alt="home">
    </div>
    <hr>
    <h2>카테고리</h2>
    <nav>
      <ul>
        <li>사용자 관리</li>
        <li>상품 관리</li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>