<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/components/Header/style.css" />
    <link rel="stylesheet" href="/components/Footer/style.css" />
    <link rel="stylesheet" href="./productDetail.css" />
    <title>Document</title>
    <script src="./review.js" type="module"></script>
    <script src="./productDetail.js" type="module"></script>
    <script src="/components/Header/Header.js" type="module"></script>
    <script src="/components/Footer/Footer.js" type="module"></script>
  </head>

  <body>
    <main id="main">
      <section id="main_section">
        <div class="product">
          <div class="product_info">
            <position: absolute;iv class="product_image">
            <img src="" />
          </div>

          <div class="product_content">
            <div class="product_name">
              <div class="eng_name">
                <nav>
                  <h1 class="brandname-origin"></h1>
                  <h3 class="name-origin"></h3>
                </nav>
              </div>
              <div class="kor_name">
                <p class="name-kr"></p>
              </div>
            </div>

            <div class="delivery_box">
              <div class="delivery_info">
                <span class="delivery_pay">배송비</span>
                <span class="delivery_right">2,500원 (100,000원 이상 구매시 배송비 무료)</span
                ><br />
                <span class="arrival">출고예정일</span>
                <span class="arrival_right">2시 이전 결제시 당일출고 (주말, 공휴일 제외)</span
                ><br />
                <span class="desc">배송방법</span>
                <span class="desc_right">본사 검수 및 직배송 / CJ 대한통운</span>
              </div>

              <div class="count">
                <div class="count_name">
                  <span class="name-origin">""</span>
                  <span class="capacity">""</span><br />
                </div>

                <div class="num">
                  <span class="countWrap">
                    <span>수량</span>
                    <span class="num_count">
                      <a href="#a" class="minus">-</a>
                      <span id="result">1</span>
                      <a href="#a" class="plus">+</a>
                    </span>
                  </span>
                  <span class="won"
                    >₩
                    <span class="totalCost"></span>
                  </span>
                </div>
              </div>
            </div>

            <div class="buy_button">
              <button class="add-cart-btn" style="cursor: pointer">장바구니</button>
              <button class="add-order-btn" style="cursor: pointer">구매하기</button>
            </div>
          </div>
        </div>
      </section>

      <section id="detail">
        <ul class="menu_list">
          <span class="detail_info"><a href="#tab1">상품상세정보</a></span>
          |
          <span><a href="#tab2">상품구매안내</a></span>
          |
          <span><a href="#tab3">상품사용후기</a></span>
        </ul>

        <div id="tab1" class="tab">
          <h4 class="tab1_title1">About the Product</h4>

          <div class="tab1_wrap">
            <span class="tab1_content">Fragrance Family: </span>
            <span class="tab1_text"><span class="note1">""</span></span>
          </div>
          <br />

          <div class="tab1_wrap">
            <span class="tab1_content">Scent Type: </span>
            <span class="tab1_text"><span class="note2">""</span></span>
          </div>
          <br />

          <div class="tab1_wrap">
            <span class="tab1_content">Key Notes: </span>
            <span class="tab1_text"><span class="note3">""</span></span>
          </div>
          <br />

          <div class="tab1_wrap">
            <span class="tab1_content">Fragrance Description: </span>
            <span class="tab1_text"><span class="description">""</span></span>
          </div>
          <br /><br />
        </div>

        <div id="tab2" class="tab">
          <p class="tab2_title">상품정보고시</p>
          <div class="tab2_content">
            <p>
              품명: <span class="kr-name-detail">엘리스 시드니 와일드 아킬리아 코롱</span><br />
              전성분: <br />
              * 제공된 성분은 동일 제품이라도 경우에 따라 변경될 수 있습니다.<br />
              * 최신정보는 제품 포장의 성분을 참고.<br /><br />
              용량: 상세페이지 참조<br />
              제품주요사항: 모든 피부 타입<br />
              사용방법: 맥박이 뛰는 부위에 분사하여 사용합니다.<br />
              사용기한: 개봉 후 3년<br />
              제조자: 엘리스<br />
              제조국: 프랑스<br /><br />
              ※사용할 때의 주의사항 :<br />
              1. 화장품 사용 시 또는 사용 후 직사광선에 의하여 사용부위가 붉은 반점, 부어오름 또는
              가려움증 등의 이상 증상이나 부작용이 있는 경우 전문의 등과 상담할 것<br />
              2. 상처가 있는 부위 등에는 사용을 자제할 것<br />
              ※보관 및 취급 시의 주의사항:<br />
              1. 어린이의 손이 닿지 않는 곳에 보관할 것<br />
              2. 직사광선을 피해서 보관할 것<br />
              3. 눈에 들어가지 않도록 주의하고 눈에 들어간 때에는 즉시 씻어 낼 것<br />
              4.민감성 피부 보유자는 귓볼 등에 사전 패치 테스트 후 사용할 것<br /><br />
              품질보증기준: 본 제품에 이상이 있을 경우, 공정거래위원회 고시 소비자분쟁해결기준에
              의해 보상해 드립니다.<br />
              화장품책임판매업자 : 이엘아이씨이한국(유) / 서울시 성동구 아차산로 17길 48로 성수낙낙
              2층<br />
            </p>
          </div>
          <br />
          <p class="tab2_title">상품결제정보</p>
          <div class="tab2_content">
            <p>
              - 고액결제의 경우 안전을 위해 카드사에서 확인전화를 드릴 수도 있습니다.<br />
              - 확인과정에서 도난 카드의 사용이나 타인 명의의 주문 등 정상적인 주문이 아니라고
              판단될 경우 임의로 주문을 보류 또는 취소할 수 있습니다.<br />
              - 무통장 입금은 상품 구매 대금은 PC뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서
              직접 입금하시면 됩니다.<br />

              ※ 주문시 입력한 입금자명과 실제입금자의 성명이 반드시 일치하여야 하며, 3일이내로
              입금되지 않은 주문은 자동취소 됩니다.
            </p>
          </div>
          <br />

          <p class="tab2_title">배송정보</p>
          <div class="tab2_content">
            <p>
              배송 방법 : CJ대한통운<br />
              배송 지역 : 전국 지역<br />
              배송 비용 : 2,500원<br />
              배송 기간 : 2일 ~ 5일<br />
              배송 안내 :<br />
              - 향수만 구매하시거나 선물포장 옵션 선택 시 쇼핑백은 제공되지 않습니다.<br />
              ※ 쇼핑백은 "추가구성상품" 내에서 별도로 구매가 필요합니다 ※<br />
              - 주말 동안의 주문량이 많을 경우, 월요일 오후 2시 이전 주문건은 다음날 출고될 수
              있습니다.<br />
              - 당일발송 재고가 소진되었을 경우 출고가 지연될 수 있습니다.<br />
              - 모든 국내 배송 상품은 'CJ대한통운' 통해 출고되며, 타 택배사 이용시 고객 부담의 별도
              비용이 발생될 수 있습니다.<br />
              - 도서산간 지역은 별도의 추가금액을 지불하셔야 하는 경우가 있습니다.<br />
              고객님께서 주문하신 상품은 입금 확인후 배송해 드리며, 상품종류에 따라서 상품의 배송이
              다소 지연될 수 있습니다.
            </p>
            <br />
          </div>
          <p class="tab2_title">교환 및 반품정보</p>
          <div class="tab2_content">
            <p>
              ※교환 및 반품 전 필수 참고사항※<br />
              - 새상품의 향기 이상, 지속력 등의 주관적인 사유는 제품 불량에 해당하지 않습니다.<br />
              - 향수는 알코올 80%로 구성되어 있으며, 여러 향료와 성분을 배합하고 섞어 제조
              됩니다.<br />

              배송 중 흔들림이 강하게 지속적으로 이뤄질 경우 향수의 배합이 깨져 처음 사용 시 알코올
              성분이 가장 분사 되면서 시린 향으로 인해 향기에 이상을 느끼거나 지속력이 짧게
              느껴지기도 합니다.<br />

              이는 정상적인 반응으로 시간이 지날수록 향수의 안정화가 진행되면서 점차 본연의 향기를
              되찾아가고, 분사할수록 향료의 비중이 높아지면서 사용할수록 더욱 진하고 풍부한 향기를
              느낄 수 있습니다.<br />

              <br />
              ※교환 및 반품이 가능한 경우※<br />

              - 상품 배송 완료일 기준으로 14일 이내<br />

              (단, 향수 제품 특성상 포장을 개봉하였거나, 제품 사용 시 교환/반품 불가)<br />
              - 상품의 파손, 불량, 오배송의 사유<br />

              (* 본품 박스 파손 등의 불량의 경우, 제품 개봉 시 교환/반품 불가)<br />
              - 공급 받으신 상품 및 용역의 내용이 표시.광고 내용과 다르거나 다르게 이행된 경우에는
              공급받은 날로부터 3개월 이내, 그 사실을 알게 된 날로부터 30일 이내<br />

              <br />
              ※교환 및 반품이 불가능한 경우※<br />

              - 향수 제품 특성상 포장을 개봉하였거나, 제품을 사용(분사) 및 훼손하여 상품가치가
              상실된 경우 교환/반품이 불가능합니다.<br />
              (검수 후 상품 가치가 상실되어 처리가 불가 할 경우 고객님 부담의 추가 반송비가
              발생됩니다.)<br />
              - 향수 본품 개봉 및 사용에 의하여 상품의 가치가 현저히 감소한 경우 교환/반품이
              불가능합니다.<br />
              (본품 박스 파손 등의 불량의 경우, 개봉 및 분사 시 사용으로 간주되어 처리 불가
              합니다.)<br />
              - 시간의 경과에 의하여 재 판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우
              교환/반품이 불가능합니다.<br />

              ※ 배송중 처리된 주문건의 경우, 오후 4시 이후에는 이미 출고 대기중으로 반품배송비가
              발생될 수 있습니다.<br />
              ※ 고객님의 단순 변심으로 교환/반품을 하실 경우, 상품반송 비용은 고객님 부담으로
              처리됩니다.<br />
              * 도서산간 지역은 별도의 추가금액을 지불하셔야 하는 경우가 있습니다*<br />
              ※ 고객님께서 직접 반송하실 경우, 택배비는 선불로 지불하셔야 하며 초기배송비용
              2,500원이 부과됩니다.<br />
              (* 국내 무료배송 상품에 한하며, 교환시에는 5,500원 부과됩니다.)<br />

              - 제품 구매 시 무료배송을 받으신 경우 : 5,500원<br />

              - 제품 구매 시 배송비 2,500원을 결제한 경우 : 3,000원 ( 교환시 5,500원 )<br />

              - 해외배송상품 : 15,000원 (항공운임료 등 포함)<br />

              <br />
              더 자세한 내용은 고객센터를 통해 확인 가능합니다.<br />
              고객센터 :070-1234-5678<br />
            </p>
          </div>
        </div>

        <div id="tab3" class="tab">
          <div class="tab3_title">상품사용후기</div>
          <div class="write_box">
            <div class="write_info">
              <p>상품은 어떠셨나요?</p>
            </div>

            <div id="commentInfo">
              <div id="commentCount"><span id="count"></span></div>
              <textarea id="commentText" placeholder="최소 10자 이상 작성해주세요."></textarea>
              <button id="submitBtn">등록</button>
            </div>
          </div>
          <h2 id="reviews-title"></h2>
          <ul id="reviews"></ul>
        </div>
      </section>
    </main>
  </body>
</html>
