.title {
  font-size: 23px;
  margin: 50px auto;
  width: calc(60% + 20px);
  padding-bottom: 13px;
  border-bottom: 1px solid #414141;
}

section {
  width: 60%;
  max-width: 1280px;
  margin: 0 auto;
}

.info-title,
.list-title {
  margin-top: 20px;
  font-size: 23px;
  padding-bottom: 13px;
  border-bottom: 2px solid #393939;
}

.info-table {
  width: 100%;
}

td {
  padding: 13px;
}

td.bl {
  border-bottom: 1px solid #626262;
}

td.rl {
  border-right: 1px solid #626262;
  width: 100px;
  background-color: #fafaff;
}

td > input[type='text'] {
  all: unset;
  border: 1px solid #404040;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  font-family: 'Alice', 'Nanum Gothic', serif;
  width: 70%;
}

td > input[type='text']:disabled {
  background-color: #fafaff;
}

td.address {
  padding: 5px 13px;
}

td.post-code {
  width: 60px;
}

td.post-code > input[type='text'] {
  width: 90%;
}

.btn-address-api {
  all: unset;
  background-color: #e7e7e7;
  padding: 7px 15px;
  color: #767676;
  cursor: pointer;
}

.product-list {
  margin: 50px auto;
}

.pay-info {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
  align-items: end;
}

.pay-detail {
  background-color: #2f2f2f;
  color: #fff;
  padding: 7px;
  width: 100%;
}

.pay-total {
  padding: 7px;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 250px;
}

.pay-do {
  all: unset;
  background: #313131;
  width: 250px;
  color: #fff;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}

.item {
  width: 100%;
  height: 200px;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  border-bottom: 2px solid #c4c4c4;
}

.cart-img {
  margin: 25px 30px 25px 30px;
  position: relative;
  width: 150px;
  height: 150px;
}

.cart-img > img {
  width: 100%;
  display: flex;
}

.cart-info {
  width: 60%;
  flex-direction: column;
  text-align: left;
  margin-top: 35px;
  font-size: 20px;
  line-height: 32px;
  position: relative;

  display: flex;
}

.num {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  font-size: 17px;
}

.result-count {
  display: flex;

  font-size: 20px;

  gap: 10px;
}
